backend/public
frontend/dist
backend/node_modules
frontend/node_modules
.wrangler/
frontend/pnpm-lock.yaml
backend/.env
.env
__pycache__/
.atomcode
.claude
.vscode
.idea
backend/.wrangler
*.tsbuildinfo
tmp.txt